DATABASE_URL=
USDINR_RATE=87
DELTA_REST_URL=https://api.india.delta.exchange
BINANCE_REST_URL=https://fapi.binance.com
COINDCX_REST_URL=https://api.coindcx.com
DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=
REPORT_INTERVAL_SECONDS=300
DELTA_API_KEY=
DELTA_API_SECRET=
